@import url('https://rsms.me/inter/inter.css');

@tailwind base;

@tailwind components;

@tailwind utilities;

.transition {
    transition: all 0.2s ease-in-out;
}

.wobble {
    animation-name: wobble;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

.bg-rainbow {
    background: linear-gradient(
        124deg,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
